<h2><%= @topic.title %><small><%= @topic.author_name %></small></%></h2>

<p>
  <% @topic.categories.each do |c| %>
    <%= c.name %>
  <% end %>
</p>

<%= simple_format @topic.content %>



<p class="text-right"><%= @topic.created_at.to_s(:short) %>

    <% if @topic.can_delete_by?(current_user) %>
      <%= link_to "Delete", topic_path(@topic), :method => :delete, :data => { :confirm => "Are you sure?"} %>
    <% end %>

</p>
<!--  leave a message  -->
<h2>New comment</h2>
<div id="comment-form">

<%= form_for @comment, :url => topic_comments_path(@topic) do |f| %>

  <div class="form-group">
    <%= f.text_area :content, :class => "from-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "create", :class => "btn btn-primary" %>
  </div>

<% end %>
</div>

<hr>

<!-- comment display -->
<% @topic.comments.each do |comment| %>

  <div class="media">
  <div class="media-left">
    <a href="#">
       <img class="media-object" src="..." alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= comment.content %></h4>
    <%= simple_format comment.content %>
    <p class="text-right"><%= comment.created_at.to_s(:short) %></p>
    <p class="text-right">
      <% if comment.can_delete_by?(current_user) %>
        <%= link_to "Delete", topic_comment_path(@topic, comment), :method => :delete, :data => { :confirm => "Are you sure?"} %>
      <% end %>
    </p>
  </div>

<% end %>